### Non-Python code ###
# diskmc relies on the Monte-Carlo and ray-tracing radiative transfer code MCFOST (Fortran),
# which is not publicly available (Christophe Pinte et al. 2006, 2009).

### Python packages ###
Python == 2.7.*		# Not yet Python 3.x compatible
numpy >= 1.13
matplotlib >= 2.0.0
scipy >= 0.19.0
emcee == 2.2.1
astropy >= 2.0.2
hickle >= 2.0.0
acor >= 1.1.1
corner >= 2.0.0

### Github packages ###
mcfost-python # https://github.com/cpinte/mcfost-python.git
